.content{
    color: white;
    padding-top: 500px;
    padding-bottom: 200px;
}
.content p{
    font-size: 50px;
    word-spacing: 1px;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 70px;
    font-weight: 900;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}
.content button{
    padding-top: 20px;
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
    border-style: none;
    background-color: #ffc300;
}
.content a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.content button:hover{
    background-color: black;
}
.content1{
    padding-top: 50px;
}
.content1 h1{
    font-size: 30px;
    color: black;
    font-weight: 800;
}
.content1 p{
    padding-top: 20px;
    font-size: 20px;
}
.content2 h1{
    font-size: 30px;
    font-weight:700;
    color: black;
}
.content2 p{
    padding-top: 10px;
    font-size: 20px;
    line-height: 1.5;
}
.content3 h1{
    padding-top: 70px;
    font-size: 25px;
    color: black;
    font-weight: 800;
}
.content3 p{
    padding-top: 20px;
    font-size: 20px;
    font-weight: 600;
}
/* .content4 img{
    width: 500px;
    height: 300px;

} */
.content4 h1{
    font-size: 30px;
    color: black;
    font-weight: 800;

}
.content4 p{
        color: white;
        font-size: 20px;
        font-weight: 600;
    }
/* .content5 img{
    width: 500px;
    height: 300px;

} */
.content5 p{
    color: white;
    font-size: 20px;
    font-weight: 600;
}
.content4 img:hover{
    transform: scale(1.1,1.1);
    transition: 1s;
}
.content5 img:hover{
    transform: scale(1.1,1.1);
    transition: 1s;
}
.content6 h1{
    padding-top: 70px;
    font-size: 40px;
    color: black;
    font-weight: 800;

}
.content6 p{
    padding-top: 10px;
    color: black;
    font-size: 20px;
    font-weight: 600;
}
.content7 img{
    border-radius: 100px;
}
.content7 h1{
        font-size: 30px;
        color: black;
        font-weight: 800;
}
.content7 p{
    color: black;
    font-size: 22px;
    text-align: center;
}
.content7 p{
    padding-top: 10px;
}
.content8 img{
    border-radius: 100px;
}
.content8 h1{
    font-size: 30px;
    color: black;
    font-weight: 800;
}
.content8 p{
color: black;
font-size: 22px;
text-align: center;
}
.content8 p{
padding-top: 10px;
}
.content9 h1{
       color: #ffc300;
       font-size: 40px;
       font-weight: 900;
}
.content10 h1{
    padding-top:70px;
    color: white;
    font-size: 40px;
    font-weight: 800;
}
.content10 p{
    padding-top: 10px;
    color:white;
    font-size:18px;

}
.content11 img{
    width: 200px;
    height: 200px;
    border-radius: 500px;
}
.content11 p{
    padding-top: 10px;
}
.content11 h1{
    color: white;
       font-size: 40px;
       font-weight: 900;
    
}
.content12{
    padding-top: 20px;
    font-size: 15px;
    color: #ffc300;
}
.content13 img{
    width: 400px;
    height: 100px;

}
.content14 h1{
    padding-top: 70px;
    color: white;
    font-size: 30px;
    font-weight:900;
}
.content14 p{
    padding-top: 10px;
    font-size: 20px;
}
.form-group{
    padding: 25px;
}
.content16 button{

        /* padding-top: 200px; */
        padding: 30px;
        padding-left: 50px;
        padding-right: 50px;
        border-radius: 10px;
        border-style: none;
        background-color: #ffc300;
        color: white;
        font-size: 20PX;
}
.content16 button:hover{
    color: black;
}
.content17{
    color: black;
    font-size:20px;
}
